/* {
font-family: "Poppins", sans-serif;
font-size: 1em;
text-decoration: none;} */

.navbarcontainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 5px 60px;
  height: 65px;
  border-top: 1px solid #1e1e1e;
  border-bottom: 2px solid #1e1e1e;
  background-color: #ffffff;
  position: -webkit-sticky;
  position: sticky; /*position fixed tells us to where to stay*/
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

.brandcontainer {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.brandcontainer img {
  width: 100%;
  height: 100%;
}
.menutitles {
  display: flex;
  padding: 5px 60px;
  justify-content: space-between;
  align-items: center;
}
.menutitles div {
  margin: 0 10px;
}
.menutitles a {
  font-size: 1.3em;
  color: #1e1e1e;
  position: relative;
  opacity: 0.9;
}
.menutitles a:hover {
  opacity: 1;
}

.menutitles a::before {
  font-size: 1.4em;
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background: #1e1e1e;
  transition: all 0.45s;
  color: #3b5fc2;
  /* border-bottom: 2px solid #3b5fc2; */
}
.menutitles a:hover::before {
  width: 100%;
}

.menuicon {
  display: none;
}

@media screen and (max-width: 480px) {
  .navbarcontainer {
    padding: 0 0 0 20px;
    align-items: center;
  }
  .brandcontainer {
    width: 200px;
    height: 100%;
  }
  .menutitles {
    display: none;
  }
  .menuicon {
    display: block;
    font-size: 2em;
    margin-right: 20px;
  }
}
@media screen and (min-width: 481px) {
}
