.missionpagecontainer {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
.contentcontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.missiontitlecontainer {
  display: flex;
  justify-content: center;
  margin: 30px 0px;
}
.missiontitle {
  font-size: 2em;
  font-weight: 600;
  border-bottom: 2px solid #1e1e1e;
}
.missionimagecontainer {
  display: flex;
  justify-content: flex-start;
  width: 1000px;
  height: 400px;
}
.missionimagecontainer img {
  width: 80%;
  height: auto;
  margin: 0 auto;
  border-radius: 15px;
}
.missionparagraphcontainer {
  padding: 24px;
  text-align: start;
}
.missionparagraph {
  font-size: 18px;
  line-height: 27px;
  margin-bottom: 20px;
  font-weight: 400;
  text-align: left;
  color: #222;
}

@media screen and (max-width: 480px) {
  .missionpagecontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .missiontitlecontainer {
    margin: 20px 0px;
  }
  .missiontitle {
    font-size: 18px;
    border-bottom: 2px solid #1e1e1e;
  }
  .missionimagecontainer {
    width: 360px;
    height: auto;
  }
  .missionimagecontainer img {
    width: 100%;
    border-radius: 15px;
  }
  .missionparagraphcontainer {
    padding: 24px;
    text-align: start;
  }
  .missionparagraph {
    padding: 24px;
    text-align: start;
  }
}
