.productspagecontainer {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  height: min-content;
}

.productscontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-left: 1px solid #1e1e1e;
  height: min-content;
}

@media screen and (max-width: 480px) {
  .productspagecontainer {
    display: flex;
    align-content: center;
    flex-direction: column;
  }

  .productscontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: none;
  }
}
